:root {
    --bs-pink: #FF00A8;
}

.btn-dangerous {
    color: #FFF;
    background-color: var(--bs-pink);
    border-color: var(--bs-pink);
}

.btn-dangerous:hover {
    color: var(--bs-pink);
    background-color: #FFF;
}

