@inherits LayoutComponentBase

<TopNavMenu></TopNavMenu>
<main>
    @Body
</main>
<footer class="p-3 text-center text-dark bg-purple mt-3 d-print-none">
    &copy: 2023 Steve Szymanski
</footer>

@code {

}
